<template>
  <div>
    <form class="add-todo-container" v-on:submit="addTodo">
      <input type="text" name="body" v-model="body" placeholder="Add Todo..." />
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
  </div>
</template>

<script>
export default {
  name: "AddTodo",
  data() {
    return {
      body: "",
    };
  },
  methods: {
    addTodo(e) {
      e.preventDefault();
      const newTodo = {
        body: this.body,
      };

      this.$emit("add-todo", newTodo);
      this.body = "";
    },
  },
};
</script>

<style scoped>
.add-todo-container {
  display: flex;
}
</style>
