<template>
  <div class="todo-container">
    <p>
      <input
        type="checkbox"
        class="mr-2"
        v-bind:checked="todo.completed"
        v-on:change="toggleStatus"
      />
      <span v-bind:class="{ completed: todo.completed }">
        {{ todo.body }}
      </span>
      <i
        class="fa fa-trash ml-2 delete-icon"
        v-on:click="$emit('delete-todo')"
      />
    </p>
  </div>
</template>

<script>
export default {
  name: "Todo",
  props: ["todo"],
  methods: {
    toggleStatus() {
      const todo = {
        ...this.todo,
        status: this.todo.completed === true ? 0 : 1,
      };
      this.$emit("update-todo", todo);
    },
  },
};
</script>

<style scoped>
.todo-container {
  display: flex;
}

.completed {
  text-decoration: line-through;
}

.delete-icon:hover {
  color: red;
}
</style>
