<template>
  <div>
    <h3 class="text-center mb-3">Todo App</h3>
    <div v-bind:key="todo.id" v-for="todo in todos">
      <Todo
        v-bind:todo="todo"
        v-on:delete-todo="$emit('delete-todo', todo.id)"
        v-on:update-todo="updateTodo"
      />
    </div>
  </div>
</template>

<script>
import Todo from "./Todo.vue";

export default {
  name: "Todos",
  components: {
    Todo,
  },
  props: ["todos"],
  methods: {
    updateTodo(todo) {
      this.$emit("update-todo", todo);
    },
  },
};
</script>
