<template>
  <div id="app" class="app-container">
    <Todos
      v-bind:todos="todos"
      v-on:delete-todo="deleteTodo"
      v-on:update-todo="updateTodo"
    />
    <AddTodo v-on:add-todo="addTodo" />
  </div>
</template>

<script>
import Todos from "./components/Todos.vue";
import AddTodo from "./components/AddTodo.vue";
import {
  getTodos,
  createTodo,
  deleteTodo as deleteTodoApi,
  updateTodo as updateTodoApi,
} from "./apis/todosAPI";

export default {
  name: "App",

  components: {
    Todos,
    AddTodo,
  },

  data: () => {
    return {
      todos: [],
    };
  },

  methods: {
    deleteTodo(id) {
      deleteTodoApi(id).then((res) => {
        const data = res.data;
        if (this.renderErrors(data, "deleteTodo")) return;

        this.todos = this.todos.filter((todo) => todo.id != id);
      });
    },

    updateTodo(todo) {
      updateTodoApi(todo)
        .then((res) => {
          const data = res.data;
          if (this.renderErrors(data, "updateTodo")) return;

          this.todos = this.todos.map((t) => {
            if (todo.id === t.id) return data.data.updateTodo.todo;
            else return t;
          });
        })
        .catch((err) => console.log(err));
    },

    addTodo(data) {
      createTodo(data).then((res) => {
        const data = res.data;
        if (this.renderErrors(data, "createTodo")) return;

        const todo = data.data.createTodo.todo;
        this.todos = [...this.todos, todo];
      });
    },

    renderErrors(data, name) {
      try {
        if (data.errors || (data.data && data.data[name].errors.length > 0)) {
          throw data.errors || data.data[name].errors;
        }
      } catch (err) {
        console.log("ERR", err);
        return true;
      }
      return false;
    },
  },

  created() {
    getTodos()
      .then((res) => {
        this.todos = res.data.data.todos;
      })
      .catch((err) => console.log("ERR", err));
  },
};
</script>

<style>
.app-container {
  margin: 5rem;
  background-color: rgb(48, 48, 95);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  color: white;
}
</style>
